.video {
  display: flex;
  // justify-content: center;
  margin-right: auto;
  text-decoration: none;
  &__links {
    text-decoration: none;
    color: black;
  }
  &__section-title {
    padding: 0;
  }
  &__image {
    height: 70px;
    width: 120px;
    padding: 0.6rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  &__title {
    margin: 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    width: 6.2rem;
  }
  &__channel {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .video {
    display: flex;
    justify-content: flex-start;
  }
}
